@font-face {
  font-family: "Horizon"; 
  src: local("Horizon"), 
       url("../fonts/Horizon.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding-top: 23.3px;

}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Horizon", sans-serif;
  font-weight: 700;
  color: #000000;
}



h4 {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  color: #000000;
}